.pagejump a{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 20px;
}
.slider{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    gap: 2rem;
    padding-left: 0;
}
.slider img{
    width: 100px;
    height: 100px;
}